extends layout

block content
  h1= title
  - let snakes=results

  div(class="container-fluid")
    div(class="row m-1")
    each snake in snakes 
      - let destination = `dispatch(\"/snakes/update?id=${item._id}\")`
      div(class="row-sm-2", class="m-1") snakes #{snake.snakename}(#{snake.habitat}) is #{snake.classification}#{snake.price}
      button.btn( class="btn-primary ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }
    





